.shopnow-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  color: white;
  /* border: 2px solid purple; */
  height: 100%;
}

.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
  height: 10%;
  width: 90%;
}

.shopnow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shopnow h1 {
  position: absolute;
  margin-left: 140px;
}

.country {
  font-size: 12px;
}

.country .dropdown-arrow {
  -webkit-filter: invert(1);
}

.select-country {
  background-color: transparent;
  border-width: 0 0 1px;
  color: white;
  padding-bottom: 10px;
  padding-right: 40px;
}

.platform-row {
  /* border: 2px solid rebeccapurple; */
  width: 30%;
  /* height: 15%; */
}

.platform-row-consoles {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pr-console {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.pr-console-xbox{
    background-color: rgb(189, 154, 82);
}

.comparison-row {
  /* border: 2px solid red; */
  width: 70%;
  height: 35%;
}

.comparison-nav-arrows {
  /* border: 2px solid purple; */
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.out-of-5 {
  opacity: 0.5;
  font-size: 20px;
}

.comparison-nav-arrows h1 {
  margin-left: 20px;
  margin-right: 20px;
}

.nav-arrow {
  background-color: rgb(189, 154, 82);
  border-radius: 50%;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}

.comparison-chart h3 {
  margin: 0px;
  margin-bottom: 8px;
}

.comparison-cards {
  /* border: 2px solid gray; */
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-grow: 1;
  height: 550px;
}

.comparison-card {
  /* border: 2px solid red; */
  width: 32%;
  height: 100%;
}

.comparison-card-photo {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* width: 100%; */
  height: 45%;
}

.card1 {
  background-image: url("/public/images/keyart.jpg");
}

.comparison-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  font-weight: bolder;
  margin-top: 15px;
  width: 50%;
  padding: 17px;
}

.official-store {
  background-color: rgb(189, 154, 82);
  border: none;
}

.comparison-shop-SVG {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  height: 20px;
  width: 20px;
}

.card2 {
  background-image: url("/public/images/keyart2.jpg");
}

.card3 {
  background-image: url("/public/images/keyart3.jpg");
}

.comparison-card-text {
  background-image: url("/public/images/retailers.jpg");
  background-repeat: no-repeat;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: center;
  height: 55%;
}

.comparison-details {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border: 1px solid white;
  border-width: 0 0 1px 0;
  /* border: 2px solid red; */
  margin-bottom: 20px;
  width: 90%;
  height: 100%;
}

.comparison-details h4 {
  margin: 0px;
  padding-bottom: 5px;
  /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

.comparison-details p {
  align-self: flex-end;
  font-size: 22px;
  margin: 5px;
}

.elegant-border-row{
  /* background-image: url('/public/images/border-leaf.png'); */
  /* border: 10px solid green; */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 3%;
    /* margin-top: 20px; */
    width: 60%;
  }
  
  .elegant-border{
    background-image: url('/public/images/border-leaf.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.guides-advice{
    /* border: 2px solid red; */
    margin-top: 30px;
    height: 80%;
    width: 60%;
}


.guides-title h1{
    color: rgb(201,183,107);
}

.guides-title p {
    font-weight: bold;
}

.guide-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid purple; */
    margin-top: 25px;
    height: 180px;
}

.guide-card{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* border: 1px solid gray; */
    /* margin-top: 15px; */
    height: 100%;
    width: 33%;
}

.guide-card-1{
    background-image: url('/public/images/guide/guide-cover-1.png');
}

.guide-card-2{
    background-image: url('/public/images/guide/guide-cover-2.png');
}

.guide-card-3{
    background-image: url('/public/images/guide/guide-cover-3.png');
}

.guides-button{
    /* border: 2px solid red; */
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.guides-button button{
    /* border: 2px solid red; */
    border:none;
    border-radius: 8px;
    background-color: rgb(189, 154, 82);
    color: white;
    padding: 18px;
    width: 200px;
}

.elegant-space-container{
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 100%
}

.elegant-space{
  background-image: url(/public/images/guide/ornament-icon-feather.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  /* border: 2px solid red; */
  width: 50%;
  height: 100px;
}

.tarnished-text-container{
  /* border: 2px solid red; */
  margin-top: 50px;
  height: 400px;
}

.tarnished-text{
  font-weight: bold;
}

.guide-screenshots{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px solid purple; */
  margin-top: 50px;
  margin-bottom: 50px;
  height: 480px;
}

.guide-screenshots .elegant-border{
  /* border: 2px solid pink; */
  width: 100%;
  height: 100px;
}

.screenshots-container{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  /* border: 2px solid pink; */
  margin-top: 20px;
  margin-bottom: 20px;
  /* padding-top: 20px; */
  /* padding-bottom: 20px; */
  width: 150%;
  height: 100%;
}

.screenshots{
  /* border: 2px solid red; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 32.5%;
}

.screenshot-1{
  background-image: url(/public/images/guide/screenshot-1.jpg);
}

.screenshot-2{
  background-image: url(/public/images/guide/screenshot-2.jpg);
}

.screenshot-3{
  background-image: url(/public/images/guide/screenshot-3.jpg);
}

.guide-text-under-screenshots{
  /* border: 2px solid purple; */
  font-weight: 500;
  height: 420px;
  width: 100%;
}

.news-component-container{
  margin-top: 100px;
  margin-bottom: 40px;
  height: 170vh;
  width: 90%;
}

.follow-us-component-container{
  /* border: 2px solid purple; */
}