.shopnow-container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    color: white;
    border: 2px solid purple;
    height: 100%;
}

.top-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    margin-top: 2%;
    height: 10%;
    width: 90%;
}

.shopnow{
    display: flex;
    align-items: center;
    justify-content: center;
}

.shopnow h1{
    position: absolute;
    margin-left: 140px;
}

.country{
    font-size: 12px;
}

.country .dropdown-arrow {
    -webkit-filter: invert(1);
}

.select-country{
    background-color: transparent;
    border-width: 0 0 1px;    
    color: white;
    padding-bottom: 10px;
    padding-right: 40px;
}

.platform-row{
    border: 2px solid rebeccapurple;
    width: 30%;
    /* height: 15%; */
}

.platform-row-consoles{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pr-console{
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.comparison-row{
    border: 2px solid red;
    width: 65%;
    height: 65%;
}

.comparison-nav-arrows{
    border: 2px solid purple;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.out-of-5{
    opacity: 0.5;
    font-size: 20px;
}

.comparison-nav-arrows h1{
    margin-left: 20px;
    margin-right: 20px;
}

.nav-arrow{
    background-color: rgb(189, 154, 82);
    border-radius: 50%;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
}

.comparison-chart h3{
    margin: 0px;
    margin-bottom: 8px;
}

.comparison-cards{
    border: 2px solid gray;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-grow: 1;
    height: 480px
}

.comparison-card{
    /* border: 2px solid red; */
    width: 30%;
    height: 100%;
}

.comparison-card-photo{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 100%; */
    height: 45%
}

.card1{
    background-image: url('/public/images/keyart.jpg');
}

.card2{
    background-image: url('/public/images/keyart2.jpg');
}

.card3{
    background-image: url('/public/images/keyart3.jpg');
}

.comparison-card-text{
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 55%;
}