.keyfeatures-container{
    color: white;
    text-align: start;
    height: 90%;
    width: 75%;
    
}

.keyfeatures-container h1{
    margin-bottom: 0px;
    margin-top: 20px;
    font-size: 38px;
}

.KF-text-container{
    /* border: 2px solid red; */
    margin-bottom: 32px;
    padding: 4px;
    /* width: 100%; */
}

.KF-video-text{
    /* border: 2px solid; */
    margin-top: 60px;
    margin-bottom: 60px;
    /* height:33%; */
    /* width: 100%; */
}

.KFVideo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.KFVideo-container-video{
    width: 50%
}

.KFVideo-container video {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: -4;
}

.KFVideo-container-text{

    /* height: 75%; */
    width: 50%;
    margin-top: 50px;
    z-index: 1;

}

.KFVideo-overlap-text{
    /* height: 13%; */
    width: 80%; 
    position: relative;
    right: 32px;
    white-space: nowrap;
    /* margin-left: -55px; */
}


.KFVideo-overlap-text h2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(189, 154, 82);
    text-transform: uppercase;
    font-size: 28px;
    /* height: 100%; */
    margin: 0px;
    padding-right: 20px;
}


.KFVideo-body-text p{
    font-weight: 500;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}


.video-2-title{
    /* border: 2px solid red; */
    position: relative;
    left: 120px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: rgb(189, 154, 82);
    width: 90%;
}

.video-2-title h2{
    font-size: 26px;
}

.KFVideo-container-2{
    /* border: 2px solid purple; */
    margin-left: 40px;
}

.KF-border-bottom {
    /* border: 2px solid purple; */
    position: absolute;
    margin-top: -2.6%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: -16%;
    width: 80%;
}

.KFVideo-overlap-text.gdg h2{
    /* height: 100%; */
    /* border: 2px solid red; */
    width: 105%;
}

@media screen and (max-width:1200px) {
    .keyfeatures-container{
        text-align: center;
    }
    .keyfeatures-container h1{
        text-align: start;
    }

    .KF-video-text{
        margin-top: 60px;
        margin-bottom: 60px;
    }
    
    .KFVideo-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
}