.elden-container{
    background-image: url('/public/images/leaves-background.jpg');
    /* border: 2px solid red; */
    height: 100%;
}

.eldenring-text{
    background-image: url(/public/images/eldenring_banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    height: 13vh;
    width: 100%;
    
}