.elden-container {
  background-image: url("/public/images/leaves-background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.eldenring-text {
  /* border: 2px solid red; */
  background-image: url(/public/images/eldenring_banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  color: white;
  height: 8rem;
  position: absolute;
  top: 645px;
  width: 100%;
}

.elden-ring-body-container {
  display: flex;
  justify-content: center;
  /* border: 2px solid purple; */
  height: 100%;
}

.elden-ring-body-text {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid gray; */
  width: 90%;
  height: 90%;
  margin-top: 5%;
}

.elden-ring-body-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  color: white;
  width: 50%;
  margin-top: 40px;
  height: 15%;
}

.elden-ring-body-banner h1 {
  font-size: 46px;
  margin-bottom: 15px;
}

.elden-ring-body-banner p {
  font-size: 14px;
}

.elden-ring-body-banner p u {
  font-size: 12px;
  cursor: pointer;
}

.gold-text {
  margin-left: 7px;
  color: rgb(189, 154, 82);
}

.golden-order-container {
  /* border: 2px solid red; */
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  height: 99%;
  margin-top: 40px;
  text-align: start;
  width: 100%;
}

.golden-order-text {
  border: 2px solid green;
  padding-left: 15px;
  line-height: 1.5;
  height: 91%;
  width: 40%;
}

.go-text {
  font-size: 18px;
  font-weight: 400;
  padding-right: 22px;
}

.golden-order-video {
  /* border: 2px solid purple; */
  width: 56%;
  height: 60%;
}


.golden-order-video video {
  cursor: pointer;
  width: 100%;
}

.video-border img {
  display: flex;
  align-items: center;
  position: absolute;
  /* height: 0%; */
  /* border: 2px solid red; */
  margin-left: -2%;
  margin-top: -1%;
  max-width: 33%;
}

.video-border img:hover {
  border: none;
  outline: none;
}

.bottom-border {
  /* border: 2px solid red; */
  display: flex;
  justify-content: flex-start;
  margin-left: 40%;
  margin-top: -5px;
}

.icon-player {
  /* border: 200px solid red; */
  cursor: pointer;
  fill: rgb(189, 154, 82);
  position: absolute;
  margin-top: 12%;
  margin-left:-27%;
  /* left: 68%;
  top: 134%; */
}

#elden-lord-bold {
  font-weight: 800;
  margin-top: 50px;
  margin-bottom: 50px;
}

.awards {
  border: 2px solid red;
  height: 100px;
  width: 100%;
}

.awards img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.console-container {
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 150px;
  /* margin-top: 20px; */
}

.consoles {
  border: 2px solid purple;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  /* margin-top: 20px; */
  height: 80px;
  width: 100%;
}

.date-text {
  display: flex;
  justify-content: center;
  font-size: 13px;
  height: 6%;
  width: 40%;
  padding: 0px;
  margin: 0px;
  /* margin-left: 55px; */
  margin-bottom: 5px;
  margin-top: 10px;
}

.console-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  height: 30px;
  width: auto;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0px;
  padding: 10px;
}

.ps5 {
  padding-left: 14px;
}

.pc {
  width: 50px;
}

.shop-now-container {
  /* background-color: ; */
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  height: 6%;
}

.shop-now-container button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(193, 157, 83);
  border: none;
  border-radius: 8px;
  color: white;
  margin-top: 0px;
  width: 170px;
}

.shop-now-container button:hover {
  background-color: inherit;
  border: 1px solid rgb(193, 157, 83);
  /* color:rgb(193,157,83); */
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: all 0.5s;
}
.ratings {
  border: 2px solid red;
  /* position: absolute; */
  /* display: flex; */
  /* justify-content: center; */
  /* margin-left: 0%; */
  /* margin-top:85%; */
  /* margin-top: 83px; */
  /* height: 200px; */
  /* object-fit: cover; */
  /* width: 100%; */
}

.ratings img{
  object-fit: cover;
  max-width: 80%;
}

@media screen and (max-width:768px) {

.golden-order-container {
   /* border: 2px solid red; */
   display: flex;
   flex-direction:column;
   align-items: center;
   justify-content: center;
  }

  .golden-order-video {
    width: 90%;
    height: 60%;
    margin-bottom: 20px;
  }
  


  .icon-player {
    width: 60px;
    height: auto;
    margin-top: 20%;
    margin-left:-44%;
  }
  
  .video-border img {
    display: flex;
    align-items: center;
    position: absolute;
    /* height: 0%; */
    /* border: 2px solid red; */
    margin-left: -2%;
    margin-top: -1.8%;
    max-width: 50%;
  }
  
  /* .video-border img:hover {
    border: none;
    outline: none;
  }
  
  .bottom-border {
    border: 2px solid red;
    display: flex;
    justify-content: flex-start;
    margin-left: 40%;
    margin-top: -5px;
  } */
  
  .golden-order-text {
    border: none;
    order: 2;
    text-align: center;
    width: 95%;
  }
}