/* .gold-text{
  color: rgb(189, 154, 82);
} */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.App {
  font-family: "Roboto", sans-serif;
  text-align: center;
}


.navbar-component{
  height: 58px;
  max-width: 100vw;
}

.header-component{
  /* border: 2px solid red; */
  max-width: 100vw;
  height: 630px;
}

.elden-component{
  height: 1500px;
}

.overlay-component{
  /* border: 2px solid purple; */
  /* width: 25vw; */
}

.keyFeatures-component{
  /* border: 12px solid purple; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-image: url('/public/images/godfried.jpg');
  background-position: 50% 30%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1940px;
  width: 100%;
}

.characters-component{
  background-attachment: fixed;
  background-image: url(/public/images/char-images/characters-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 920px;
}

.shopnow-component{
  background-image: url("/public/images/leaves-background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 450vh;
}