.App {
  text-align: center;
}

.navbar-component{
  height: 6vh;
}

.header-component{
  height: 65vh;
}

.elden-component{
  /* border: 2px solid red; */
  height: 150vh;
}

.overlay-component{
  /* border: 2px solid purple; */
  /* width: 25vw; */
}

.keyFeatures-component{
  background-color: red;
  height: 100vh;
}